<%= link_to 'Destroy Comment', [comment.article, comment],
method: :delete, class:"delete is-pulled-right",
data: { confirm: "Are you sure?" } %>

<div class="message radio-border is-info">

  <div class="column">
    <div class="font-effect-anaglyph">
      <p>
        <strong><%= comment.commenter %></strong>
      </p>
    </div>

    <!-- <strong><%= Comment.human_attribute_name(:body) %></strong> -->
    <%= comment.body %>

  </div>
</div>
