<tr>
  <td>
    <%= link_to article.title, article_path(article)%>
  </td>
  <td class= "has-text-right mx-1">
    <%= link_to "Editar", edit_article_path(article), class: "button is-link is-outlined"%>
  </td>
</tr>
