    <div>Making the Web Beautiful!</div>
    <span class="font-effect-anaglyph">This is a font effect!</span>

    <span class="material-icons-two-tone">
      precision_manufacturing
    </span>

    <div class="icon is-large">
      <span class="icon has-text-danger">
        <i class="fas fa-ban fa-2x"></i>
      </span>
      <span>Danger</span>
    </div>

    <span class="icon is-large">
      <span class="fa-stack fa-lg">
        <i class="fas fa-ban fa-stack-2x has-text-danger"></i>
      </span>
    </span>
