    <table class="table is-fullwidth">
      <thead>
        <tr>
          <th>
            Articulo
          </th>
          <th>
          </th>
        </tr>
      </thead>
      <tbody>
        <%= render @articles %>
      </tbody>
    </table>
