<!-- <h1 align="center">Hello, Rails bby!</h1>
<p align="center">Esto es un blog en rieles!</p> -->

<h1>Articulos</h1>

Our blog has <%= Article.public_count %> articles and counting!

<ul>
  <% @articles.each do |article| %>
    <li>
      <%= link_to "#{article.title} [#{article.status}]", article %>
    </li>
  <% end %>
</ul>

<%= link_to "nuevo articulo", new_article_path %>
<%= link_to "regresa a home", root_path %>
