<!-- <h1 align="center">Hello, Rails bby!</h1>
<p align="center">Esto es un blog en rieles!</p> -->

<h1>Articulos</h1>

<ul>
  <% @articles.each do |article| %>
    <li>
      <a href="/articles/<%= article.id %>">
      <%= article.title %>
      <!-- </a> -->
    </li>
  <% end %>
</ul>
