<div class="columns ">
  <div class="column is-12">
    <div class="container content">


      <i class="mdi mdi-digital-ocean fa-7x font-effect-anaglyph"></i>
      <i>&nbsp</i>
      
      <i class="mdi mdi-currency-eth fa-4x font-effect-anaglyph"></i>

      <h1 class="title font-effect-anaglyph">Bienvenido al blog mas chipocludo mother fuker!</h1>
      <h3 class="subtitle font-effect-anaglyph">Code <em>All</em> The Things</h3>
      <%= link_to "Artículos", articles_path, class:"button is-link is-light is-large font-effect-anaglyph fab fa-github" %>
    </div>
  </div>
</div>
