<section class="hero altura-costume gradient-blue is-mobile">
  <div class="container"  style="margin: 100px 0 0 40px;">
  <div class="hero-body" >

      <div class="columns" >
      <div class="column is-12 is-mobile">



          <i class="mdi mdi-digital-ocean fa-7x font-effect-anaglyph"></i>
          <i>&nbsp</i>

          <i class="mdi mdi-currency-eth fa-4x font-effect-anaglyph"></i>

          <h1 class="title font-effect-anaglyph has-text-white">Bienvenido al facebook mexicano güey!</h1>
          <h3 class="subtitle font-effect-anaglyph mb-0 has-text-white">Un lugar donde puedes hacer todo lo que haces en facebook...</h3>
          <h3 class="subtitle font-effect-anaglyph mb-4 has-text-white">pero mas chipocludo  <i></i></h3>

          <%= link_to "Artículos", articles_path, class:"button is-link is-light is-large font-effect-anaglyph mdi mdi-email-multiple-outline" %>
        </div>
      </div>
</div>
    </div>

</section>
