// @import "tailwindcss/base";
// @import "tailwindcss/components";
// @import "tailwindcss/utilities";
@import "~bulma/bulma";

.centrar-elemento-con-flex {
  justify-content: center;
  flex-grow: 1;
}

.altura-costume {
  min-height: calc(100vh - 3.5rem)
}

.radio-border {
  border-radius: 25px
}

.gradient-blue {
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  color: white;
}

.gradient-green {
  background-image: linear-gradient(213deg, #08AEEA 31%, #2AF598 100%);
}
